<!DOCTYPE html>
<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">My Blog</a></h1>
        </header>

        <article>
            <time>published: 19.09.2024, 11:45</time>
            <h2><a href="">My first post</a></h2>
            <p> Super facil</p>
        </article>

        <article>
            <time>published: 19.09.2024, 11:46</time>
            <h2><a href="">My second post</a></h2>
            <p> Soy estupida pero esta el computadora que es inteligente.
                 Un dia, puedo controlar el computadora a voluntad.</p>
        </article>
    </body>
</html>